<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body >

<!-- Sfondo -->

        <div class="resto-sfondo absolute-p width-100 negative-z-1"></div>
        <div class="striscia-verde-sfondo absolute-p width-100 negative-z-1"></div>

<!-- Parte principale -->
    <div class="container flex" id="root">

    <!-- Sezione sinistra -->
        <aside class="left-side flex flex-column">
            <!-- Barra self -->
            <div  class="barra-self flex items-center">
                <div class="my-profile-image flex flex-grow">
                    <img src="img/avatar_1.jpg" alt="My profile image" class="round-icon lat-margin-10">
                </div>
                <div>
                    <i class="fa fa-refresh gray" aria-hidden="true"></i>   
                    <i class="fa fa-comments gray" aria-hidden="true"></i>     
                    <i class="fa fa-ellipsis-v gray" aria-hidden="true"></i>            
                </div>
            </div>

            <!-- Barra notifiche -->
            <div class="barra-notifiche flex items-center">
                <i class="fa fa-bell-slash bell-icon" aria-hidden="true"></i>
                <p class="gray">
                    <strong>Ricevi notifiche di nuovi messaggi</strong><br><a href="">Attiva notifiche desktop</a>
                </p>
            </div>

            <!-- Barra ricerca -->
            <form v-on:submit.prevent action="" class="form-bar flex">
                <button class=" search-icon"><i class="fa fa-search" aria-hidden="true"></i></button><input type="text" class="search-textbar flex-grow" placeholder="Cerca o inizia una nuova chat" v-model="searchString">
            </form>

            <!-- Sezione chat varie -->
            <div class="flex flex-column flex-grow scroll-y chat-varie">
                <div v-for="(person, index) in contacts" class="flex inferior-border"  @click="changeCounter(index)" tabindex="0">
                    <div v-if="((person.name).toLowerCase()).includes(searchString.toLowerCase())" class="flex">
                        <div>
                            <img :src="person.image" alt="" class="big-round-icon">
                        </div>
                        <div class="flex items-center">
                            <p class="gray" style="font-size: 0.8em; line-height: 1.5;">
                                <strong style="color: black; font-size: 1.1em;">{{person.name}}</strong>
                                <br>
                                <span v-if="person.messages[person.messages.length - 1].text">{{person.messages[person.messages.length - 1].text}}</span>
                                <span v-else>Non ci sono messaggi</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </aside>

        <!-- Sezione destra -->
        <aside class="right-side flex flex-column">
        <div v-if="counter == null" class="counter-null">
            <img src="https://web.whatsapp.com/img/intro-connection-light_c98cc75f2aa905314d74375a975d2cf2.jpg" alt="">
            <br>
            <p class="null-p null-p-big">Mantieni il telefono connesso</p>
            <br>
            <p class="null-p null-p-small">WhatsApp si collega al tuo telefono. Per ridurre l'utilizzo dei dati, collega il telefono al Wi-Fi. Clicca su una chat per aprirla, o avviane una nuova.</p>
            <hr class="rule">
            <p style="color: darkgray;"><i class="fa fa-laptop" aria-hidden="true"></i> WhatsApp è disponibile per Windows. <strong ><a href="" style="color: #07bc4c; text-decoration: none;">Scaricala qui</a></strong>.</p>
        </div>

        
         <!-- Barra contatto -->
        <div v-else class="flex flex-column height-100">
            <div class="barra-contatto flex items-center">
                <div class="flex-row flex-grow flex">
                    <img src="img/avatar_1.jpg" alt="My profile image" class="round-icon lat-margin-10">
                </div>
                <div>
                    <i class="fa fa-refresh gray" aria-hidden="true"></i>   
                    <i class="fa fa-comments gray" aria-hidden="true"></i>     
                    <i class="fa fa-ellipsis-v gray" aria-hidden="true"></i>            
                </div>
            </div>

            <!-- Sezione chat -->
            <div class="flex-column flex-grow scroll-y flex" id="container" style="background-image: url('img/mine.jpg')"> 
                <div>
                    <div v-for="message in contacts[counter].messages" class="inline-block">
                        <div :class=" [{ sent : message.status === 'sent' }, { recieved : message.status === 'received' }]">
                            <div :class="[{ green : message.status === 'sent' }, { white : message.status === 'received' }]">
                                {{message.text}} <span style="font-size: 0.6em; color: gray;">{{message.time}}</span>
                                <i class="fa fa-check" aria-hidden="true" style="font-size: 0.7em; color: skyblue;"></i>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Barra scrittura -->
            <div>
                <form v-on:submit.prevent @keyup.enter="newMessage();" action="" class="form-bar flex items-center">
                    <i class="fa fa-smile-o gray icon-margin" aria-hidden="true"></i>
                    <input v-model="myMessage" type="text" class="search-textbar flex-grow" style="border-radius: 20px; padding: 10px;" placeholder="Scrivi un messaggio">
                    <i class="fa fa-microphone gray icon-margin" aria-hidden="true"></i>
                </form>
            </div>
        </div>
        </aside>
    </div>
    


    <script src="myScript.js"></script>
    <script src="vue.js"></script>
</body>
</html>