/*
Piccola legenda dei commenti::after

{} = sezione innestata dentro un altra sezione
[] = sezione che contiene una o più altre sezioni innestate

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

input:focus {
    outline: none;
}

/* Generali */

.scroll-y {
    overflow-y: auto;
}

.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.flex-grow {
    flex-grow: 1;
}

.gray {
    color: #5a595a;
}

.width-100 {
    width: 100%;
}

.absolute-p {
    position: absolute;
}

.negative-z-1 {
    z-index: -1;
}

.flex {
    display: flex;
}

.justify-end {
    justify-content: flex-end;
}

.round-icon {
    border-radius: 50%;
    height: 40px;
}

.lat-margin-10 {
    margin: 0 10px;
}

.items-center {
    align-items: center;
}
/* Specifici sfondo */

.striscia-verde-sfondo {
    position: absolute;
    background-color: #009788;
    height: 100px;
    
}

.resto-sfondo {
    background-color: #dadbd5;
    height: 100%;
}
/* Sezione principale []*/

.container {
    width: 1080px;
    height: 700px;
    margin: auto;
    transform: translateY(30px);
}

/*
    INIZIO DELLA SEZIONE DI DESTRA
*/

/*Sezione di sinistra {Sezione principale} []*/

.left-side {
    width: 30%;
    height: 100%;
}

/*Barra self {Sezione di sinistra}*/

.barra-self {
    min-height: 50px;
    background-color: lightgray;
    padding-right: 10px;
}

.big-round-icon {
    height: 50px;
    border-radius: 50%;
    margin: 10px;
}

.barra-self i {
    margin: 0 5px;
}

/*Barra notifiche {Sezione di sinistra}*/

.barra-notifiche {
    height: 70px;
    background-color: lightskyblue;
    padding: 10px;
}

.barra-notifiche p {
    margin-left: 10px;
    font-size: 0.9em;
}

.barra-notifiche p a {
    color: gray;
}

.bell-icon {
    border-radius: 50%;
    padding: 15px;
    background-color: white;
    color: lightskyblue;
}

/*Barra ricerca {Sezione di sinistra}*/

.form-bar {
    padding: 5px 10px;
    background-color: lightgray;
}

.search-icon {
    padding: 5px;
    background-color: white;
    border: none;
    border-radius:  20px 0 0 20px;
    color: lightgray;
}

.search-textbar {
    padding: 5px;
    border: none;
    border-radius: 0 20px 20px 0;
    
}

.search-textbar::placeholder {
    font-size: 0.9em;
}

/*Sezione chat varie {Sezione di sinistra}*/
.chat-varie {
    background-color: white;
}

.inferior-border {
    border-bottom: 1px solid rgba(128,128,128, 0.5);
    padding-right: 10px;
}

.sent {
    display: flex;
    justify-content: flex-end;
    margin: 5px 20px;
}

.recieved {
    display: flex;
    justify-content: flex-start;
    margin: 5px 20px;
}

.green {
    background-color: #07bc4c;
    padding: 10px;
    border-radius: 10px;
}

.white {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

.counter-null {
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.null-p-big {
    font-size:2.5em;
    color: gray;
}

.null-p-small {
    width: 70%;
    text-align: center;
    margin-bottom: 50px;
    color: darkgray;
}

.rule {
    background-color: lightgray;
    width: 70%;
    height: 2px;
    opacity: 0.7;
    border-radius: 5px;
    margin-bottom: 50px;
}


/*
    CONCLUSIONE DELLA SEZIONE DI SINISTRA
*/


/*
    INIZIO DELLA SEZIONE DI DESTRA
*/


/*Sezione di destra {Sezione principale} {}*/
.right-side {
    width: 70%;
    height: 100%;
    border-left: 1px solid lightgray;
}

/*Barra contatto {Sezione di sinistra}*/

.barra-contatto {
    min-height: 50px;
    background-color: lightgray;
    padding-right: 10px;
    border-left: gray 2px solid;
}

.barra-contatto i {
    margin: 0 5px;
}

/*Barra chat {Sezione di sinistra}*/

/*Barra scrittura {Sezione di sinistra}*/

.icon-margin {
    margin: 0 20px;
}






